html,
body,
#root {
   margin: 0px;
   height: 100%;
   font-family: "Roboto", sans-serif;
   color: azure;
}

.App {
   height: 100%;
   width: 100%;
   background-color: #444444;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.gameWindow {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px rgb(51, 51, 51) solid;
}
.minefield {
}
.minefield_row {
   display: flex;
   flex-direction: row;
}
.minefield_tile {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
   border: rgb(51, 51, 51) solid;
   border-width: 0px 1px 1px 0px;
   background-color:#71992D;
   height: 25px;
   width: 25px;
}
.minefield_tile:first-child {
   border-width: 0px 1px 1px 1px;
}
.minefield_tile.revealed {
   background-color:#EAD0A8
}
.minefield_tile.nearby1 {
   color: #0009f6;
}
.minefield_tile.nearby2 {
   color: #007e04;
}
.minefield_tile.nearby3 {
   color: #fd1400;
}
.minefield_tile.nearby4 {
   color: #010281;
}
.minefield_tile.nearby5 {
   color: #810503;
}
.minefield_tile.nearby6 {
   color: #008080;
}
.minefield_tile.nearby7 {
   color: #0f0f0f;
}
.minefield_tile.nearby8 {
   color: #808080;
}
.minefield_tile.revealed.explode {
   transition: background-color 0.3s ease-in;
   background-color: red;
}
.popup {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px;
   font-size: 30px;
   position: absolute;
   border: 1px black solid;
   border-radius: 16px;
   background-color: #6B5428;
   color: white;
}
.popup_button{
   padding: 8px 16px;
   margin-top: 14px;
   background-color: #644108;
   border-radius: 4px;
   border: none;
   color: azure;
   font-size: 16px;
   outline: none;
}
.popup_custom{
   width: 130px; 
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}
.popup_custom-row{
   display: flex;
   justify-content: space-between;
}
.popup_custom-row:not(:first-child){
   margin-top: 14px;
}
.popup_custom-text{
   font-size: 20px;
}
.popup_custom-input{
   margin-left: 6px;
   font-size: 18px;
   width:30px;
   padding: 4px 6px;
   border: none;
   border-radius: 4px;
}
.displayBar {
   width: calc(100% - 2px);
   height: 50px;
   background-color: #6B5428;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: 1px rgb(51, 51, 51) solid;
}
.displayBar_map--button {
   padding: 8px 16px;
   background-color: #644108;
   border-radius: 4px;
   border: none;
   color: azure;
   font-size: 16px;
   outline: none;
}

.difficultyDropdown {
   display: flex;
   flex-direction: column;
   padding: 4px 8px;
   border-radius: 4px;
   margin-top: 1px;
   background-color: grey;
   background-color: #644108;
   position: absolute;   
}
.difficultyDropdown button{
   background-color: #644108;
   border-radius: 4px;
   border: none;
   color: azure;
   font-size: 16px;
   outline: none;
   text-align: left;
}
.difficultyDropdown button:not(:first-child){
   margin-top: 4px;
}
.highlight {
   filter: brightness(150%);
}
