html,
body,
#root {
   margin: 0px;
   height: 100%;
}

.App {
   height: 100%;
   width: 100%;
   background-color: #0f0f0f;
   display: flex;
   justify-content: center;
   align-items: center;
}
.gameWindow {
   display: flex;
   justify-content: center;
   align-items: center;
}
.minefield {
}
.minefield_row {
   display: flex;
   flex-direction: row;
}
.minefield_tile {
   border: 1px black solid;
   background-color: yellow;
   height: 25px;
   width: 25px;
   text-align: center;
}
.revealed {
   background-color: burlywood;
}
.popup {
   position: absolute;
   background-color: black;
   width: 100px;
   height: 100px;
}
