html,
body,
#root {
   margin: 0px;
   height: 100%;
   font-family: "Roboto", sans-serif;
   color: azure;
}

.App {
   height: 100%;
   width: 100%;
   background-color: #0f0f0f;
   display: flex;
   justify-content: center;
   align-items: center;
}
.gameWindow {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.minefield {
}
.minefield_row {
   display: flex;
   flex-direction: row;
}
.minefield_tile {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
   border: 1px rgb(51, 51, 51) solid;
   background-color:#71992D;
   height: 25px;
   width: 25px;
}
.minefield_tile:not(.revealed) {
   /* box-shadow: inset -2px -2px 1px 0px rgb(90, 90, 90),
      inset 2px 2px 1px 0px #cacaca; */
}
.minefield_tile.revealed {
   background-color:#EAD0A8
}
.minefield_tile.nearby1 {
   color: #0009f6;
}
.minefield_tile.nearby2 {
   color: #007e04;
}
.minefield_tile.nearby3 {
   color: #fd1400;
}
.minefield_tile.nearby4 {
   color: #010281;
}
.minefield_tile.nearby5 {
   color: #810503;
}
.minefield_tile.nearby6 {
   color: #008080;
}
.minefield_tile.nearby7 {
   color: #0f0f0f;
}
.minefield_tile.nearby8 {
   color: #808080;
}
.minefield_tile.revealed.explode {
   transition: background-color 0.3s ease-in;
   background-color: red;
}
.popup {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px;
   font-size: 30px;
   position: absolute;
   background-color: black;
   color: white;
}
.displayBar {
   width: 100%;
   height: 50px;
   background-color: #6B5428;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.displayBar_map--button {
   padding: 8px 16px;
   background-color: #644108;
   border-radius: 4px;
   border: none;
   color: azure;
   font-size: 16px;
   outline: none;
}

.difficultyDropdown {
   display: flex;
   flex-direction: column;
   padding: 4px 8px;
   border-radius: 4px;
   margin-top: 1px;
   background-color: grey;
   background-color: #644108;
   position: absolute;   
}
.difficultyDropdown button{
   background-color: #644108;
   border-radius: 4px;
   border: none;
   color: azure;
   font-size: 16px;
   outline: none;
   text-align: left;
}
.difficultyDropdown button:not(:first-child){
   margin-top: 4px;
}
.highlight {
   filter: brightness(150%);
}
